.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 70%;
    border: 1px solid rgb(193, 193, 193);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.wrapper:hover{
    box-shadow: 1px 1px 2px 5px rgb(217, 217, 234);
    border: 1px solid rgb(158, 158, 234);
}

.iconDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    color: rgb(68, 130, 130);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.resume{
    color: rgb(14, 14, 126);
    font-size: 24px;
    cursor: pointer;
}

.details span{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(96, 96, 96);
}

.phone{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.copy{
    cursor: pointer;
}

.copy:hover{
    color: rgb(113, 0, 243);
}