.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.subTitle{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: rgb(69, 69, 69);
}

.formContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-right: 50px;
    margin-bottom: 20px;
}

.leftpane{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightpane{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.inputField{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.inputField label{
    width: 30%;
    text-align: right;
    font-size: 13px;
}

.inputField select{
    width: 70%;
    height: 30px;
    border: 2px solid rgb(191, 193, 201);
    border-radius: 5px;
}

.inputField input{
    width: 70%;
    height: 30px;
    border: 2px solid rgb(191, 193, 201);
    border-radius: 5px;
}

.inputField .date{
    width: 25%;
}

.buttons{
    display: flex;
    gap: 10px;
}