.container {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
}


.container:hover,
.active {
  background-color: #d4d4e6;
}

.icon{
  font-size: 40px;
  color: rgb(81, 46, 220);
}

.line{
  height: 50px;
  width: 1px;
  background-color: rgb(187, 187, 187);
}

.content h2{
  color: rgb(47, 47, 47);
  font-weight: 500;
  font-size: 22px;
}

.content p{
  font-size: 14px;
}