.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #35a068;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
  }

  .dropbtn:hover{
    background-color: rgb(59, 178, 116);
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 12px;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }